{{- $name := promptStringOnce . "name" "Full name" "Petr Stanislav" -}}
{{- $email := promptStringOnce . "email" "Email address" "petr.stanislav@gmail.com" -}}
{{- $homebrew_prefix := "/opt/homebrew" -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{-   $homebrew_prefix = "/usr/local" -}}
{{- end -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    homebrew_prefix = {{ $homebrew_prefix | quote }}
